<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Single">
<!--    <parameter name="config" value="single.conf.json"/>-->
    <test name="SingleTest" thread-count="1" parallel="false">

        <classes>
            <class name="apiTest.ValidatePostMethod"/>
            <class name="apiTest.ValidateGetRequest"/>
            <class name="apiTest.ValidatePutRequest"/>
            <class name="apiTest.ValidateDeleteRequest"/>
        </classes>


    </test>
</suite>